name: Build and deploy vite
on:
	push:
 		branches:
   			- main
jobs:
	build-and-deploy:
 		runs-on: ubuntu-latest
   		concurrecny: ci-${{githuv.ref}}
	 steps:
  		- name: Checkout
		uses: actions/checkout@v2
  
  		- name: Configure Node
		uses: actions/setup-node@v1
		with:
			node-version: '20.9.0'

		- name: Install and Build
		run: |
			npm install
			npm run build

		- name: Deploy
  		uses: JamesIves/github-pages-deploy-action@v4
		with:
  			folder: dist
	 		branch: gh-pages

    
        
        
    
